# port
PORT=3000
APP_URL=http://localhost:3000

# JWT
JWT_SECRET=mysecretkey
JWT_EXPIRES_IN=1d

# mailer
EMAIL_USER=example@gmail.com
EMAIL_PASS=uolso@####

# database (PostgreSQL)
DATABASE_URL=postgresql://user:password@host/database?sslmode=require

# cloudinary
CLOUDINARY_CLOUD_NAME=dd5@####
CLOUDINARY_API_KEY=42684@####
CLOUDINARY_API_SECRET=aAAFV@####